<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Message</title>
  </head>
  <body>
    <%- include('navbar', {links: links}) %>
    <h1>New Message</h1>
    <form method="POST" action="/new">
      <label for="user">Name</label>
      <input type="text" name="userText" id="user" />
      <label for="message">Message</label>
      <input type="text" name="messageText" id="message" />
      <button>Submit</button>
    </form>
  </body>
</html>
